<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKuQngCEYLHVZiXJPziuWMNPhsy35iLac</string>
	<key>GCM_SENDER_ID</key>
	<string>732123854228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plaria.played</string>
	<key>PROJECT_ID</key>
	<string>played-prd-847e9</string>
	<key>STORAGE_BUCKET</key>
	<string>played-prd-847e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732123854228:ios:d8cd111c3259f4658c4b81</string>
</dict>
</plist>